body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-section{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.blue-color{
    color: hsl(202, 95%, 59%);
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 10%;
}
.button{
    background-color: hsl(202, 95%, 59%);
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}
.middle-section{
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;    
    background-position: right;
    margin: 0px;
    background-size: 5%;
}
.dream-big{
font-size: 75px;
}
.blue-color{
    color: hsl(202, 95%, 59%);
}
.middle-width{
    width: 50%;
    margin-left: 5%;
}
.middle-width img{
    width: 80%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
 }
.bottom-section{
    display: flex;
}
.bottom-width{
width: 40%;
margin-left: 5%;
margin-right: 5%;
padding: 1%;
border-radius: 10px;
box-shadow: 10px 10px 30px gray;
}
.full-stack{
    font-size: 40px;
}
.Experiences{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby{
    border-left: 8px solid;
    border-color: blue;
    border-image-slice: 1;
}
#web{
border-right: 8px solid;
border-image-slice: 2;
border-color: rgb(255, 136, 0);
}

